{% extends 'Proyeccion/docente.html' %}
{% block contenido %}
<br>
<br>
<div class="table-responsive">
    <table class="table table-bordered" id="consultarProyectos">
        <thead>
            <tr>
                <th>DOCENTE</th>
                <th>NUM HORAS SEMANALES</th>
                <th>FECHA INICIO</th>
                <th>FECHA FIN</th>
                <th>FINANCIACION</th>
                <th>PROYECTO</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for info in informacion_list %}
            <tr>
                <td>{{info.docente_id}}</td>
                <td>{{info.numero_horas_semana}}</td>
                <td>{{info.fecha_inicio}}</td>
                <td>{{info.fecha_final}}</td>
                <td>{{info.tipo_financiacion}}</td>
                <td>{{info.proyecto_id}}</td>
                <td>
                    <a href="/Proyeccion/ModificarRecursoDocente/{{info.id}}">Editar</a>
                    <a href="/Proyeccion/EliminarRecursoDocente/{{info.id}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-lg btn-primary" onclick="window.location.href='/Proyeccion/CrearRecursoDocente/{{informacion.id}}'">Registrar docente</button>
</div>
{% endblock %}