{% extends 'Proyeccion/docente.html' %}
{% block contenido %}
<TABLE id="proyectos">
    <TR>
        <TH>CODIGO</TH>
        <TH>NOMBRE DEL PROYECTO </TH>
        <TH>DEPARTAMENTO</TH>
        <TH>FACULTAD</TH>
        <TH>FECHA INICIO</TH>
        <TH>FECHA FIN</TH>
        <TH>EJECUCION</TH>
        <TH>EDITAR</TH>
    </TR>
    <TR>
        <td> sada</td>
        <td> asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>sd</td>
        <td>sd</td>
    </TR>
    <!--
   {% for proyecto in listaProyectos %}
   <TR>
      <TD>{{Facultad.id}}</TD>    
       <TD>{{Facultad.nombre}}</TD>    
       <TD>{{Facultad.email}}</TD>    
       <TD>{{Facultad.telefono}}</TD>    
       <TD>
           <a href="/Facultades/eliminar/{{Facultad.id}}" class="btn" > -</a>
           <a href="/Facultades/modificar/{{Facultad.id}}" class="btn" > +</A>

       </TD>
   </TR>
   {% endfor %}    -->
</TABLE>
{% endblock %}